.infoSection {
  padding: 10px 0;
  background-color: #999999;
}

.featureCol {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 10px;
}

.icon {
  font-size: 2rem;
  margin-bottom: 10px;
  color: #242a3d;
}

p {
  margin: 0;
  font-size: 1rem;
}

@media (max-width: 768px) {
  .featureCol {
    padding: 10px 5px;
  }

  .icon {
    font-size: 1.5rem;
  }

  p {
    font-size: 0.9rem;
  }
}
