.NavBar {
  z-index: 1010;
  width: 100%;
}

.navContent {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: flex-end;
}

.desktopMenu {
  display: flex;
  gap: 10px;
  align-items: center;
  position: relative;
  z-index: 1060;
}

.desktopMenu .nav-link,
.mobileNav .nav-link {
  color: #555555 !important;
  padding: 8px 12px;
  transition: background-color 0.3s ease-in-out;
}

.navLinkCart {
  position: relative;
}

.container {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
  max-width: 100%;
}

.navLinkText {
  margin-left: 5px;
  font-size: large;
  letter-spacing: 0.0625em;
  color: #777;
  position: relative;
  z-index: 2;
  transition: color 350ms ease;
}

.navLinkText:hover {
  color: #c9378b;
}

.menuLink {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f8f8f8;
  border-radius: 20px;
  padding: 8px 12px;
  position: relative;
  border: 1px solid #dadadf;
  text-align: center;
  height: 40px;
  line-height: 1;
  overflow: hidden;
  z-index: 1;
  transition: color 350ms ease;
}

.menuLink:hover .navLinkText {
  color: #fff;
}

.menuLink::before {
  content: "";
  position: absolute;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  background-color: #c9378b;
  z-index: 1;
  transition: right 350ms ease;
}

.menuLink:hover::before {
  right: 0;
}

.menuLink::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: #c9378b;
  z-index: 0;
  transition: left 350ms ease;
}

.menuLink:hover::after {
  left: 0;
}

.menuLinkActive i {
  color: #c9378b;
}

.menuWrapper {
  position: relative;
  display: inline-block;
  padding-left: 70px;
}

/* Dropdown menu styles */
.dropdownMenu {
  position: absolute;
  top: 82px;
  right: 10px;
  background-color: #f8f8f8;
  border: 1px solid #dadadf;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1070;
  border-radius: 4px;
  padding: 10px;
  width: 300px;
  opacity: 0;
  transform: translateY(-20px);
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
  pointer-events: none;
}

.dropdownMenu a {
  padding: 10px 0;
}

.dropdownMenuOpen {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1050;
  opacity: 0;
  transition: opacity 0.3s ease-out;
}

.backdropOpen {
  opacity: 1;
}

.searchWrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.searchLink {
  cursor: pointer;
  border: none;
  background: none;
}

.searchLinkActive i {
  color: #c9378b;
}

.searchInput {
  width: 0;
  padding: 5px;
  border: none;
  border-bottom: 1px solid transparent;
  border-radius: 0;
  z-index: 1052;
  opacity: 0;
  transition:
    width 0.3s ease,
    opacity 0.3s ease,
    border-bottom-color 0.3s ease;
  margin-left: 5px;
  outline: none;
}

.searchInputOpen {
  width: 150px;
  opacity: 1;
  width: -webkit-fill-available;
}

.searchInput:focus-visible {
  border-bottom-color: #c9378b;
  box-shadow: none;
}

.cartWrapper {
  position: relative;
  display: inline-flex;
  align-items: center;
}

.cartCount {
  position: absolute;
  top: -3px;
  right: -5px;
  background-color: #c9378b;
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 0.8em;
  z-index: 1060;
}

.NavLink {
  padding: 5px;
}

.Active i {
  color: #c9378b;
}

.OpenNavMobile {
  background: white;
  display: grid;
  gap: 10px;
  padding: 10px;
}
