.ProductDetailPage {
  padding: 20px;
  font-family: "Arial", sans-serif;
}

.ProductWrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  align-items: center;
}

.ImageContainer {
  max-width: 100%;
  margin-bottom: 20px;
}

.ProductImage {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.ProductDetails {
  text-align: center;
  padding: 10px;
}

.ProductDetails h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

.ProductDetails p {
  font-size: 1rem;
  margin: 8px 0;
  color: #555;
}

.ProductDetails .PriceSection {
  font-size: 1.5rem;
  font-weight: bold;
  color: #c9378b;
  margin-bottom: 10px;
}

.ProductDetails .CurrentPrice {
  font-size: 1.75rem;
  font-weight: bold;
  color: #d93884;
  margin-bottom: 10px;
}

.ProductDetails .OutOfStock {
  color: red;
  font-weight: bold;
  font-size: 1.2rem;
}

.ProductDetails button {
  margin-top: 15px;
}

button:disabled {
  background-color: #ccc !important;
}

@media (min-width: 768px) {
  .ProductWrapper {
    flex-direction: row;
    align-items: flex-start;
  }

  .ImageContainer {
    max-width: 45%;
    margin-right: 20px;
  }

  .ProductDetails {
    max-width: 50%;
    text-align: left;
  }
}

/* Related Products Layout */
.RelatedProducts {
  margin-top: 40px;
  text-align: center;
}

.RelatedGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

@media (min-width: 768px) {
  .RelatedGrid {
    grid-template-columns: repeat(4, 1fr);
  }
}

.RelatedItem {
  cursor: pointer;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.RelatedItem:hover {
  transform: translateY(-5px);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
}

.RelatedItem img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}
