.ProductsPage {
  padding: 20px;
}

.Header {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.CategoryFilters {
  display: flex;
  gap: 15px;
  margin-bottom: 30px;
  overflow-x: auto;
  white-space: nowrap;
}
.CategoryFilters::-webkit-scrollbar {
  display: none;
}

.ProductGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
}

.ProductItem {
  border: 1px solid #ddd;
  padding: 15px;
  transition: box-shadow 0.3s ease-in-out;
  overflow: hidden;
  background-color: #fff;
  border-radius: 8px;
  cursor: pointer;
}

.ProductItem:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.ProductImage {
  width: 100%;
  height: 280px;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.ProductItem:hover .ProductImage {
  transform: scale(1.05);
}

h2 {
  font-size: 1.5rem;
  margin-top: 10px;
  margin-bottom: 10px;
}

p {
  font-size: 1rem;
}

@media screen and (max-width: 768px) {
  .ProductGrid {
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  }

  .ProductItem {
    padding: 12px;
  }

  .ProductImage {
    height: 220px;
  }

  h2 {
    font-size: 1.25rem;
  }
  .CategoryFilters {
    padding-bottom: 10px;
  }
}
