.ProfilePage {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.ProfileHeader {
  text-align: center;
  padding: 20px;
  border-radius: 10px;
}

.ProfileImage {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
}

.PersonalDetails {
  margin-top: 30px;
}

.ProductsSection {
  margin-top: 50px;
}

.ProductGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.ProductItem {
  background-color: #f9f9f9;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.ProductImage {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}

.EditLink {
  color: #c9378b;
  font-weight: bold;
  text-decoration: none;
}
.EditLink:hover {
  text-decoration: underline;
}
