.App {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  background-color: #f8f8f8;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

a {
  color: #555555;
  transition: color ease-in-out 0.3s;
}

a:hover {
  text-decoration: none;
}

a:hover i {
  color: #c9378b;
  transition: color ease-in-out 0.3s;
}

i {
  color: #cfced3;
  font-size: 1.6rem;
  padding: 7px;
  vertical-align: middle;
}

i:hover {
  cursor: pointer;
  transition: color ease-in-out 0.3s;
  color: #2142b2;
}

/* Specific Roboto font styles */
.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}
