.App {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  background-color: #f8f8f8;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.Main {
  flex: 1;
}

* {
  box-sizing: border-box;
}

a {
  color: #555555;
  transition: color ease-in-out 0.3s;
}

a:hover {
  text-decoration: none;
  color: #c9378b;
}

a:hover i {
  color: #c9378b;
  transition: color ease-in-out 0.3s;
}

i {
  color: #cfced3;
  padding: 7px;
  vertical-align: middle;
}

i:hover {
  cursor: pointer;
  transition: color ease-in-out 0.3s;
  color: #c9378b;
}

h3 {
  font-size: 1.625rem;
  line-height: 1.2142857143em;
  letter-spacing: 0.02857142857em;
}

.p {
  margin-bottom: 0.5rem;
  letter-spacing: 0.03043478261em;
}

@media (min-width: 768px) {
  .p {
    margin-bottom: 1.5rem;
  }
}

/* Specific Roboto font styles */
.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.Content {
  background-color: #ffffff;
  padding: 10px;
  border-radius: 2px;
  border: 1px solid #dadadf;
}

.FillerImage {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.Image {
  max-height: 40vh;
  max-width: 100%;
  object-fit: contain;
}

input[type="file"] {
  display: none;
}

figure {
  text-align: center;
  display: inline-block;
}

/* scrollbar */
*::-webkit-scrollbar {
  width: 5px;
}
*::-webkit-scrollbar-track {
  background: #f1f1f1;
}
*::-webkit-scrollbar-thumb {
  background: #888;
}
*::-webkit-scrollbar-thumb:hover {
  background: #555;
}
